{% extends "govuk/template.njk" %}

{% from "page-body/macro.njk" import appPageBody %}
{% from "heading/macro.njk" import appHeading -%}
{% from "govuk/components/button/macro.njk" import govukButton -%}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios -%}
{% from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{% from "govuk/components/input/macro.njk" import govukInput -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set mainClasses = "govuk-main-wrapper" %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="{{ getAssetPath("images/favicon.ico") }}">
  <link rel="icon" sizes="any" href="{{ getAssetPath("images/favicon.svg") }}" type="image/svg+xml">
  <link rel="mask-icon" href="{{ getAssetPath("images/govuk-icon-mask.svg") }}"
        color="{{ themeColor | default("#0b0c0c") }}">
  <link rel="apple-touch-icon" href="{{ getAssetPath("images/govuk-icon-180.png") }}">
{% endblock %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{googleSiteTagId}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{googleSiteTagId}}');
  </script>
{% endblock %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/index",
  serviceName: "Book a live animal inspection",
  serviceUrl: "/admin/today-dashboard",
  navigation: [
    {
      href: "today-dashboard.html",
      text: "Today's inspections",
      active: true
    },
    {
      href: "/siteOperations",
      text: "Site operations"
    },
    {
      href: "#2",
      text: "Manage account"
    },
    {
      href: "admin-signed-out.html",
      text: "Sign out"
    }
  ]
}) }}

  {% endblock %}

  {% block pageTitle %}
    {{ pageTitle }} | {{ serviceName }}
  {% endblock %}

  {% block beforeContent %}
    {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.'
  }) }}

    {%if displayBacklink %}
      {{ govukBackLink({
    text: "Back",
    href: backUrl
  }) }}
    {% endif %}
  {% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}
    {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
  {% endblock %}

  {% block bodyEnd %}
    <script type="module" src="{{ getAssetPath('application.js') }}"></script>
  {% endblock %}