{% extends 'layouts/page.njk' %}

{% block content %}

  {% call appPageBody() %}
       {{ govukTable({
  caption: "Shed C: Small animals",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Day"
    },
        {
      text: "Opening times"
    },
    {
      text: "Change"
    }
  ],
  rows: [
  [
      {
        text: "Monday"
      },
      {
        text: _openTimesValue + " to " + _closeTimesValue
      },
       { 
        html: '<a href="shed-c-opening-singular">Change</a>'
      }
    ],
    [
      {
        text: "Tuesday"
      },
      {
        text: "8am to 6pm"
      },
      { 
        html: '<a href="shed-c-opening-singular">Change</a>'
      }

    ],
    [
      {
        text: "Wednesday"
      },
      {
        text: "8am to 6pm"
      },
      { 
        html: '<a href="shed-c-opening-singular">Change</a>'
      }
    ],
    [
      {
        text: "Thursday"
      },
      {
        text: "8am to 6pm"
      },
      { 
        html: '<a href="shed-c-opening-singular">Change</a>'
      }
    ],
    [
      {
        text: "Friday"
      },
      {
        text: "8am to 6pm"
      },
      { 
        html: '<a href="shed-c-opening-singular">Change</a>'
      }
    ],
      [
      {
        text: "Saturday"
      },
      {
        text: "8am to 6pm"
      },
            { 
        html: '<a href="shed-c-opening-singular">Change</a>'
      }
    ],
    [
      {
        text: "Sunday"
      },
      {
        text: "8am to 6pm"
      },
            { 
        html: '<a href="shed-c-opening-singular">Change</a>'
      }
    ]
  ]
}) }}

{{ govukTable({
            caption: "Shed C: Small animals",
            captionClasses: "govuk-table__caption--m",
            firstCellIsHeader: true,
            head: [
              { text: "Day" },
              { text: "Opening times"},
              { text: "Change"}
          ],
          rows: data
        }) }}

  {% endcall %}

{% endblock %}
