{% extends 'layouts/page.njk' %}
{% set displayBacklink = true %}
{% block content %}

  {% call appPageBody() %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-l">Change {{shedName }} {{ day }} opening times</h1>

          {% set openTimesValue = from %}
          {% set closeTimesValue = to %}
          {{ govukDateInput({
                id: "open-close-times",
                namePrefix: "open-close-times",
                items: [
                  {label: "Open", name: "opening-time", value: openTimesValue, classes:"govuk-input--width-4"},
                  {label: "Closed", name: "closing-time", value: closeTimesValue, classes:"govuk-input--width-4"}
                ]
              }) }}

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <p><a class="govuk-link" href="/shedOpeningTiming">Cancel</a></p>

      </div>
   </div>

  {% endcall %}

{% endblock %}
